    <!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Meme Maker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <header>
        <h1>Meme Maker Pro</h1>
        <p>Galaxy's Best Meme Maker</p>
    </header>
    <main>
        <section>
            <form action="/" method="post">
                <input type="text" name="first_line" placeholder="the first line of text" valye="{{ first_line }}">
                <input type="text" name="last_line" placeholder="the last line of text"  valye="{{ last_line }}">
                <input type="submit" name="submit" placeholder="Submit">
            </form>
        </section>
        <section>
            <p>{{ first_line }}</p>
            <img src="{{ url_for('static', filename='index.png') }}" alt="">
            <p>{{ last_line }}</p>
        </section>
    </main>
</body>
</html>